/*section.global*/
/*section.global {width: 95%; margin: 40px auto 0;  padding: 40px 0; text-align: center; position: relative;}
section.global:before {content:'';width: 100%; height: 45%; background: #eee; position: absolute; left: 0; bottom: 0; z-index: -1;}
section.global .title {}
section.global .title h2 { font-size: 30px; margin-bottom: 20px;}
section.global .title p {font-size: 18px; line-height: 1.4; margin-bottom: 50px;}
section.global ul {overflow: hidden; width: 100%; padding-top: 50px; }
section.global ul li {float: left; width: 25%; padding: 15px; box-sizing: border-box;}
section.global ul li:nth-child(1),section.global ul li:nth-child(3) {margin-top: -50px;}
section.global ul li a{display: block; width: 100%; height: 100%;}
section.global ul li a .img {width: 100%; box-shadow: 10px 10px 10px rgba(0,0,0,0.25); transition: all 0.2s; position:relative;}
section.global ul li a:hover .img, section.global ul li a:focus .img {transform: translate(-8px, -8px); }
section.global ul li a .img:after {content: 'VIEW';width: 100%;height: 100%; background: rgba(44,35,28,0.8);position: absolute; left: 0; top:0; color:#d4d4d4; font-size: 22px; padding-top: 170px; box-sizing: border-box; opacity: 0;}
section.global ul li a .img:hover:after, section.global ul li a .img:focus:after {opacity: 1;}
section.global ul li a .img img{width: 100%;}
section.global ul li a h3 {font-size: 22px; margin:40px 0 15px;}
section.global ul li a h3 span {display: block; font-size: 18px; font-weight: normal; color: #888;}*/